body {
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 25px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    color: #99aab5;
}