body {
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    color: #99aab5;
}

footer {
    padding: 25px;
    color: #99aab5;
}

footer img {
    width: 52px;
    height: auto;
    margin: 5px;
    padding-bottom: 10px;
    float: left;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

footer small {
    height: 52px;
}