body {
    margin: 0;
    padding: 0;

    /* make it look decent enough */
    background: #232323;
    color: #cdcdcd;
    font-family: "Avenir Next", "Avenir", sans-serif;
}

a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

a:hover {
    color: tomato;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 25px;
}

h2 {
    font-size: 24px;
}