.bullet {
    padding-left: 55px;
    list-style-type: none;
}

.bullet li {
    margin-bottom: 10px;
}

.bullet li:before {
    font-family: 'FontAwesome';
    content: '\f054';
    margin: 0 5px 0 -15px;
}