/* regular buttons */
.button:link,
.button:visited {
    background-color: transparent;
    color: white;
    padding: 14px 25px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;  
    border-radius: 5px;
    min-width: 100px;
    border: 2px solid white;
    transition: all .6s;
}

.button:hover {
    transform: scale(1.05);
}

.button.blue:link:hover,
.button.blue:visited:hover {
    background-color: #152F4F;
    border: 2px solid #152F4F;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.button.red:link:hover,
.button.red:visited:hover {
    background-color: #D3182F;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.button.black:link:hover,
.button.black:visited:hover {
    background-color: white;
    color: #211F1F;
    border: 2px solid white;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.button:hover,
.button:active {
    filter: brightness(140%);
}

/* tabbed buttons */
.tabbed-buttons {
    width: 100%;
}

.tab-button {
    background-color: transparent;
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: calc(100% / 6);
    border: none;
    transition: all 0.7s;
}

.tab-button.active {
    background-color: #D3182F;
    font-weight: bold;
    font-size: 18px;
}

.tab-button:hover {
    color: #232323;
    background-color: #ccc;
    font-size: 18px;
    letter-spacing: 1px;
}

.tab-button.active:hover {
    background-color: #D3182F;
    font-weight: bold;
}

@media screen and (max-width: 812px) {
    .tab-button {
        display: none;
        /* width: 130px; */
    }

    .selectList {
        display: visible;
    }
}