.button:link,
.button:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;  
    border-radius: 3px;
    transition: transform .2s;
}

.button:hover {
    transform: scale(1.1);
}

.button.blue:link,
.button.blue:visited {
    background-color: #152F4F;
}

.button.red:link,
.button.red:visited {
    background-color: #D3182F;
}

.button.black:link,
.button.black:visited {
    background-color: #211F1F;
}

.button:hover,
.button:active {
    filter: brightness(140%);
}