.container {
    margin: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
}

.row.r100 {
    width: 100%;
}

.row.r110 {
    width: 110%;
}

.col {
    display: flex; 
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.col.c0 {
    flex-basis: 0;
    flex: 0; 
}

.col.center {
    align-items: center;
}

@media screen and (max-width: 812px) {
    .row {
        width: 100%;
    }
}