.icon-buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.icon-buttons li {
    float: left;
}

.icon-buttons li a {
    display: block;
    color: white;
    width: 150px;
    height: 150px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.icon-buttons li a i {
    font-size: 82px;
}

/* Change the link color on hover */
.icon-buttons li a:hover {
    background: inherit;
    background-clip: text;
  -webkit-background-clip: text;
    color: white;
    filter: invert(1) grayscale(1);
  -webkit-filter: invert(1) grayscale(1);
}