.infoBox {
    background-color: red;
    margin: 15px;
    width: 350px;
}

.infoBox .single-character {
    float: left;
    background-color: #5F9EA0;
    padding: 25px;
    font-size: 21px;
    height: 20px;
    width: 25px;
    font-weight: bold;
    text-align: center;
    color: #C0D9D9;
}

.infoBox .text {
    float: right;
    background-color: #D1EEEE;
    padding: 25px;
    color: #4A777A;
    height: 20px;
    width: 225px;
}