.searchInput[type=text] {
	width: 100%;
	padding: 8px 20px;
	box-sizing: border-box;
	border: 4px solid #ccc;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
}

.searchInput[type=text]:focus {
	border: 5px solid #D3182F;
	padding: 12px 20px;
	font-size: 18px;
}