.landing-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.landing-group div {
    justify-content: center;
    align-items: center;
    margin:auto;
}

/* .blur-image  */
.landing-bg {
    background-image: url("../images/computer-background.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px) brightness(30%);
    -moz-filter: blur(5px) brightness(30%);
    -o-filter: blur(5px) brightness(30%);
    -ms-filter: blur(5px) brightness(30%);
    filter: blur(5px) brightness(30%);
}

.newpage.landing-page {
    height: 100%;
    overflow: hidden;
}

.full-logo {
    width: 265px;
    height: 250px;
    text-align: center;
}

.full-logo img {
    width: 35%;
    height: auto;
    padding: 5px;
}

.full-logo h1 {
    font-size: 32px;
    padding: 0px;
    margin: 0px;
    letter-spacing: 2px;
}

.full-logo h2 {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    letter-spacing: 2px;
}

.full-logo hr {
    border-top: 3px solid red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.quote {
    width: 300px;
    height: 50px;
    text-align: center;
    left: 0;
}

.down-button {
    width: 300px;
    height: 50px;
    text-align: center;
    color: white;
    font-size: 34px;
    animation: MoveUpDown 2.5s linear infinite;
    transition: transform .2s;
}

.down-button:hover {
    color: red;
    transform: scale(1.2);
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 70px;
    }

    50% {
        bottom: 80px;
    }
}

@media screen and (max-width: 812px) {
    .full-logo {
        right: 0px;
    }

    .quote {
        right: 0px;
    }

    .down-button {
        right: 0px;
    }
}