/* Main content */
.main {
    margin-left: 50vh;
    width: 100%;
    height: 100%;
    /* Same as the width of the sidenav */
    position: fixed;
    float: left;
    overflow: auto;
    scroll-behavior: smooth;
}

.newpage {
    height: 100%;
    width: 100%;
}

.newpage-red {
    height: 100%;
    width: 100%;
    background-color: #8b0000;
}

.newpage-blue {
    height: 100%;
    width: 100%;
    background-color: #003366;
}

@media screen and (max-width: 812px) {
    .main {
        margin-left: 0;
    }
}