/* Main content */
.main {
    margin-left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    /* Same as the width of the sidenav */
    position: fixed;
    float: left;
    overflow: auto;
    scroll-behavior: smooth;
}

.newpage {
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: auto;
    padding-bottom: 25px;
    margin-right: 50px;
}

.redbg {
    background-color: #D3182F;
}

.bluebg {
    background-color: #152F4F;
}

.bluegradientbg {
    background: rgb(34,77,130);
    background: linear-gradient(0deg, rgba(34,77,130,1) 0%, rgba(21,47,79,1) 100%);
}

.remove-gap {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 812px) {
    .main {
        margin-left: 0;
        width: 100%;
    }
}