.form {
    /* width: 50%;
    margin: 0 auto; */
    /* display: inline-block;
    background-color: red;
    text-align: center;

    width: 100%; */
    
}

.form .text-input {
    /* text-align: center; */
    /* display: inline-block; */
}