.text-input {
    margin-top: 5px;
    padding: 15px;
    border: none;
    color: var(--white);
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    transition-duration: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    outline: none;
}

.text-input.primary {
    background-color: var(--primary);
}
.text-input.primary:hover {
    filter: brightness(150%);
}

.text-input.tertiary {
    background-color: var(--tertiary);
}
.text-input.tertiary:hover {
    filter: brightness(150%);
}

@media screen and (max-device-width : 1024px) {
    .text-input {
        width: 100%;
    }
}
