.text-input {
    margin-top: 5px;
    padding: 15px;
    border: none;
    color: black;
    background-color: var(--white);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    border-radius: 25px;
    transition-duration: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    outline: none;
}

.text-input:hover {
    background-color: white;
}

.text-input:focus {
    background-color: white;
}