.topnav {
    overflow: hidden;
    background-color: var(--tertiary);
    position: relative;
    text-align: center;
    display: none;
}

.topnav img {
    width: 50px;
    height: auto;
    padding: 5px;
}

@media screen and (max-width: 44em) {
    .topnav {
        display: block;
    }
}