/* badge */
.badge {
    color: var(--white);
    background-color: var(--primary);
    display: inline-block;
    padding: 10px;
    margin: 3px;
    border-radius: 25px;
    font-weight: bold;
    transition-duration: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.badge:hover {
    cursor: default;
    filter: brightness(120%);
}

.badge.red {
    background-color: #D3182F;
}

.badge-container {
    margin: 5px;
}