.card {
    margin: 15px;
    width: 350px;
    padding-top: 0px;
    border-radius: 25px;
    background-color: var(--white);
    color: #232323;
    -webkit-transition: all 0.3s ease;                  
    -moz-transition: all 0.3s ease;                 
    -o-transition: all 0.3s ease;   
    -ms-transition: all 0.3s ease;          
    transition: all 0.3s ease;
}

.card .heading {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--tertiary);
    border-bottom: 2px solid var(--primary);
    /* width: 100%; */
}

.card h2 {
    color: var(--primary);
    padding-top: 0;
    margin-top: 0;
    transition-duration: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.card:hover {
    filter: brightness(115%);
}

.card:hover h2 {
    letter-spacing: 2px;
}

@media screen and (max-width: 812px) {
    .card {
        margin: 15px;
        width: auto;
        border-radius: 25px;
    }
}