.infoBox {
    margin: 15px;
    width: 340px;
    border-radius: 200px;
    font-weight: bold;
    cursor: default;
    transition-duration: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.infoBox .single-character {
    float: left;
    padding: 20px;
    font-size: 21px;
    height: 20px;
    width: 25px;
    text-align: center;
    color: #C0D9D9;
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
}

.infoBox .text {
    float: right;
    border-radius: 200px;
    border-width: 5px;
    border-style: hidden;
    padding: 25px;
    height: 20px;
}

.infoBox:hover {
    filter: var(--brightness);
}

/* blue */
.infoBox.blue {
    background-color: #5F9EA0;
    color: #C0D9D9;
}

/* red */
.infoBox.red {
    background-color: var(--primary);
    color: var(--tertiary);
}

.infoBox.red .single-character  {
    background-color: var(--tertiary);
    color: var(--primary);
}

/* black */
.infoBox.black {
    background-color: var(--tertiary);
    color: var(--white);
}

.infoBox.black .single-character  {
    background-color: var(--white);
    color: var(--tertiary);
}

/* yellow */
.infoBox.yellow .single-character {
    background-color: #818f00;
    color: rgb(194, 205, 92);
}

.infoBox.yellow .text {
    background-color: #818f00;
    color: rgb(194, 205, 92);
}

@media screen and (max-width: 320px) {
    .infoBox .single-character {
        padding: 20px;
    }
    
    .infoBox {
        margin: 5px;
        width: 300px;
    }

    .infoBox .text {
        width: 250px;
    }
}