.infoBox {
    margin: 15px;
    width: 350px;
}

.infoBox .single-character {
    float: left;
    background-color: #5F9EA0;
    padding: 25px;
    font-size: 21px;
    height: 20px;
    width: 25px;
    text-align: center;
    color: #C0D9D9;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.infoBox .text {
    float: right;
    /* background-color: #D1EEEE; */
    padding: 25px;
    /* color: #4A777A; */
    height: 20px;
    width: 225px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.infoBox:hover .single-character,
.infoBox:hover .text {
    filter: brightness(110%);
}

.infoBox:hover .single-character {
    font-size: 19px;
    width: 10px;
    padding-left: 20px;
}

.infoBox:hover .text {
    width: 245px;
}

/* blue */
.infoBox.blue .single-character {
    background-color: #5F9EA0;
    color: #C0D9D9;
}

.infoBox.blue .text {
    background-color: #D1EEEE;
    color: #4A777A;
}

/* red */
.infoBox.red .single-character {
    background-color: #8f0000;
    color: #CD5C5C;
}

.infoBox.red .text {
    background-color: #FFA07A;
    color: #B22222;
}

/* yellow */
.infoBox.yellow .single-character {
    background-color: #818f00;
    color: rgb(194, 205, 92);
}

.infoBox.yellow .text {
    background-color: #818f00;
    color: rgb(194, 205, 92);
}

/* black */
.infoBox.black .single-character {
    background-color: #8a8a8a;
    color: rgb(204, 204, 204);
}

.infoBox.black .text {
    background-color: #8a8a8a;
    color: rgb(204, 204, 204);
}

@media screen and (max-width: 320px) {
    .infoBox .single-character {
        padding: 20px;
    }
    
    .infoBox {
        margin: 5px;
        width: 300px;
    }

    .infoBox .text {
        width: 250px;
    }
}