.margin-bottom {
    margin-bottom: 25px;
}

.hidden {
    display: none;
    opacity: 0;
}

.visible {
    display: visible;
}

.visuallyhidden {
    visibility: hidden;
    position: absolute;
}

@media screen and (max-device-width : 1024px) {
    .hideMobile {
        display: none;
    }
}

