.margin-bottom {
    margin-bottom: 25px;
}

.hidden {
    display: none;
    opacity: 0;
}

.visible {
    display: visible;
}

.visuallyhidden {
    visibility: hidden;
    position: absolute;
}

.zoomhover:hover {
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

@media screen and (max-width: 44em) {
    .hideMobile {
        display: none;
    }
}

