/* search input */
.searchInput[type=text] {
	width: 100%;
	padding: 15px;
	box-sizing: border-box;
	outline: none;
	border: 0;
	border-radius: 25px;
	background-color: var(--white);
	transition-duration: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.searchInput[type=text]:focus {
	background-color: white;
}

.searchInput[type=text]:hover {
	background-color: white;
}