.slider {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 300px;
    bottom: 120px;
    overflow-x: hidden;
    white-space: nowrap;
}

.slider .scroll {
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
    scroll-behavior: smooth;
}

.slider .slider-item img {
    height: auto;
    width: 70px;
    float: left;
}

.slider .slider-item {
    width: 145px;
    height: 210px;
    background-color: var(--tertiary);
    padding: 10px;
    display: inline-block;
    margin: 10px;
    border-radius: 25px;
    vertical-align: top;
    text-align: right;
    font-size: 24px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    transition-duration: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
    white-space: normal;
    cursor: default; 
    /* cursor: pointer; */
}

.slider .slider-item:hover {
    filter: var(--brightness);
    color: var(--primary);
}

.slider .slider-item:hover span{
    color: var(--primary);
}

.slider .slider-item span {
    position: absolute;
    display: block;
    margin: 10px;
    bottom: 0px;
    font-weight: bold;
    text-decoration: none; 
    color: var(--white);
}

@keyframes moveSlideshow {
    100% { 
        transform: translateX(100vw);  
    }
}

.slider .slider-item.slider1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider1.jpg");
}
.slider .slider-item.slider2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider2.jpg");
}
.slider .slider-item.slider3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider3.jpg");
}
.slider .slider-item.slider4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider4.jpg");
}
.slider .slider-item.slider5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider5.jpg");
}
.slider .slider-item.slider6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider6.jpg");
}
.slider .slider-item.slider7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider7.jpg");
}
.slider .slider-item.slider8 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider8.jpg");
}
.slider .slider-item.slider9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider9.jpg");
}
.slider .slider-item.slider9 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5))
    ,url("../images/projects/slider/slider10.jpg");
}

@media screen and (max-device-width : 1024px) {
    .slider {
        height: 230px;
        bottom: 100px;
    }

    .slider .slider-item {
        width: 85px;
        height: 140px;
        font-size: 14px;
    }
}