.title {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 300px;
    top: 30%;
    font-size: 3.5em;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.title .text {
    margin:auto;
    width: 750px; 
}

@media screen and (max-width: 44em) {
    .title {
        top: 7%;
        font-size: 2.8em;
    }

    .title .text {
        width: 100%; 
    }
}