/* project project-buttons */
.project-button:link,
.project-button:visited {
    background-color: transparent;
    color: white;
    padding: 14px 25px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;  
    border-radius: 5px;
    min-width: 100px;
    border: 2px solid white;
    transition: all .6s;
}

.project-button:hover {
    transform: scale(1.05);
}

.project-button.blue:link:hover,
.project-button.blue:visited:hover {
    background-color: #152F4F;
    border: 2px solid #152F4F;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.project-button.red:link:hover,
.project-button.red:visited:hover {
    background-color: #D3182F;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.project-button.black:link:hover,
.project-button.black:visited:hover {
    background-color: white;
    color: #211F1F;
    border: 2px solid white;
    font-weight: bold;
    letter-spacing: 2px;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.project-button:hover,
.project-button:active {
    filter: brightness(140%);
}