.project-button {
    font-size: 17px;
    color: var(--tertiary);
    font-weight: bold;
    background-color: transparent;
    padding: 14px 25px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition-duration: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.project-button:hover {
    filter: var(--brightness);
    background-color: var(--primary);
}