
/* tabbed buttons */
.tabbed-buttons {
    width: 100%;
    margin-bottom: 10px;
}

.tabbed-buttons button {
    background-color: transparent;
    color: var(--white);
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin: 5px;
    font-size: 17px;
    width: calc(100% / 7);
    border: none;
    border-radius: 25px;
    transition-duration: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.tabbed-buttons button.active {
    background-color: var(--primary);
    font-weight: bold;
}

.tabbed-buttons button:hover {
    color: var(--tertiary);
    background-color: var(--white);
}

.tabbed-buttons button.active:hover {
    background-color: var(--primary);
    font-weight: bold;
}

@media screen and (max-width: 1024px) {
    .tabbed-buttons button {
        display: none;
    }

    .selectList {
        display: visible;
    }
}