
/* tabbed buttons */
.tabbed-buttons {
    width: 100%;
}

.tabbed-buttons button {
    background-color: transparent;
    color: white;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: calc(100% / 6);
    border: none;
    transition: all 0.7s;
}

.tabbed-buttons button.active {
    background-color: #D3182F;
    font-weight: bold;
    font-size: 18px;
}

.tabbed-buttons button:hover {
    color: #232323;
    background-color: #ccc;
    font-size: 18px;
    letter-spacing: 1px;
}

.tabbed-buttons button.active:hover {
    background-color: #D3182F;
    font-weight: bold;
}

@media screen and (max-width: 812px) {
    .tabbed-buttons button {
        display: none;
        /* width: 130px; */
    }

    .selectList {
        display: visible;
    }
}